FinalUpload/DEMO/DEMO/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/localHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/localHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="gettestdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="GettingData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gettestdata" nillable="true" type="tns:gettestdata" />
  <xs:complexType name="UpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTJSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTJNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceLevel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUser" nillable="true" type="tns:UpdateUser" />
</xs:schema>