FinalUpload/DEMO/DEMO/Connected Services/ServiceReference2/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.100.2:8070/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/localHost" />
  <xs:element name="HanbiroGetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HanbiroGetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/localHost" minOccurs="0" name="HanbiroGetInfoResult" nillable="true" type="q1:HanbiroDemo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>